.search-div {
  font-family: Arial;
  color:white;
  min-height:500px;
}
div#main-container {
  background-color: 'white';
  background:url("./img/photodune-4524905-book-l.jpg") no-repeat center center fixed;
  background-size:100%;
  /*background-position: initial;*/
}

#scrollable-tab-contents {

}

#books {
  overflow-y:scroll;
}

/*#myTab {
  overflow-x:auto;
  top:43.455px;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}*/

.search-div .user_book_query {
  width:40%;
  margin:200px auto;
  text-align:center;
}

.get-books {
  background-color: transparent;
  color: rgb(166, 166, 166);

}

.get-books:hover {
  /*background-color: #B2DFDB;*/
  color: #666666;
  box-shadow: inset 0 -1px 0 #4C9696;
}
#nav-header {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none; 
}

.book-thumbnail {
  padding: 20px 5px;
  height: 220px;
}

text.mpld3-text, div.mpld3-tooltip {
  font-family:Arial, Helvetica, sans-serif;
}

g.mpld3-xaxis, g.mpld3-yaxis {
display: none; }

svg.mpld3-figure {
margin-left: -200px;}

/*.fade {
opacity: 0;
-webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
   -ms-transition: opacity 2.25s linear;
    -o-transition: opacity 2.25s linear;
       transition: opacity 2.25s linear;
}*/

#myTabContent {
  overflow: scroll;
  height: 500px;
 /* flex:1 1 auto;*/
  /*height:600px;*/

}

#loaderthingy {
    display: none;
    position: fixed;
    z-index: 10;
    background: rgba( 255, 255, 255, .8 )
                url('./img/flipping_book.gif')
                50% 50%
                no-repeat;
}

.the-tabs {
    display: flex;
    flex-direction:column;
}

.results-tabs {
    display:none;
    flex: 0 0 auto;
}

.show {
    display:inline block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #4C9696;
  box-shadow: inset 0 -2px 0 #4C9696
  color: #666666;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  box-shadow: inset 0 -1px 0 #4C9696;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-tabs>li:hover {
  background-color: #B2DFDB;
}

#map-canvas {
  width:100%;
  height:450px;
}

/*#local_venues {
        height: 100%;
        margin: 0px;
        padding: 0px
      }*/

#myTab {
  flex: 0 0 auto;
}

/*#book-search-submit-button {

  cursor: crosshair;

}*/


/*#4C9696;*/


/*.form-control.active {
  border-color: #B2DFDB
  box-shadow: inset 0 -1px 0 #B2DFDB;
  background-color: transparent;
}*/


textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {

  box-shadow: inset 0 -2px 0 #4C9696;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:0%;
  background:url("./img/photodune-4524905-book-l.jpg") no-repeat center center fixed;
  margin:200px auto;
  text-align:center;
}

/*#search-input {
  background: transparent;
  -webkit-box-shadow: #B2DFDB;
  outline: #B2DFDB auto 0px;
}*/

/*#search-input-autofill {
  background-color:transparent !important;
}*/

input:-webkit-autofill {
   background-color:transparent !important;
}

#radius-dropdown 
#radius-dropdown > option.activate.open
{
  background-color: transparent;
  -webkit-box-shadow: #4C9696;
  outline: #4C9696 auto 0px;
}

 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }

