html {
  font-family: 'Quattrocento', serif;
}

.search-div {
  font-family: Arial;
  color:white;
  min-height:500px;
}
div#main-container {
  background-color: 'white';
  background:url("./img/photodune-4524905-book-l.jpg") no-repeat center center fixed;
  background-size:100%;
  font-family: 'Quattrocento', serif;
  min-height:750px;
  /*background-position: initial;*/
}

#scrollable-tab-contents {

}

#books {
  overflow-y:scroll;
}

#logo {
  margin-top:-5;
  width:;
}
/*#myTab {
  overflow-x:auto;
  top:43.455px;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}*/

/*.search-div #wunderland_full {
  width:40%;
  margin:200px auto;
  text-align:center;
}
*/
.search-div .user_book_query {
  width:40%;
  margin:200px auto;
  text-align:center;
}


.get-books {
  background-color: transparent;
  color: #666666;
  font-family: 'Nixie One', cursive;

}
.row {
  margin-left:70px;
}
.get-books:hover {
  background-color: #B2DFDB;
  color: #666666;
  box-shadow: inset 0 -1px 0 #4C9696;
}
#nav-header {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none; 
}


#book-results-background {
  display:none;
  background:url('./img/sprinkles.png') no-repeat center center fixed;
  background-size:100%;
  padding-bottom: 30px;
  width: 90%;
  margin-left: 60px;
}
}

#book-result-div {
  margin-left:100px;
  font-family: 'Nixie One', cursive;
    padding-left: 70px;
}


.book-thumbnail {
  padding: 20px 5px;
  height: 220px;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  padding-top: 10px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: 16px;
   color: #666666; 
}

text.mpld3-text, div.mpld3-tooltip {
  font-family:Arial, Helvetica, sans-serif;
}

g.mpld3-xaxis, g.mpld3-yaxis {
display: none; }

svg .mpld3-figure {
margin-left: 0px;
}

/*.fade {
opacity: 0;
-webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
   -ms-transition: opacity 2.25s linear;
    -o-transition: opacity 2.25s linear;
       transition: opacity 2.25s linear;
}*/

#myTabContent {
  overflow: scroll;
  height: 500px;
 /* flex:1 1 auto;*/
  /*height:600px;*/

}

#loaderthingy {
    display: none;
    position: fixed;
    z-index: 10;
    background: rgba( 255, 255, 255, .8 )
                url('./img/flipping_book.gif')
                50% 50%
                no-repeat;
}

.the-tabs {
    display: flex;
    flex-direction:column;
}

.results-tabs {
    display:none;
    flex: 0 0 auto;
}

.show {
    display:inline block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #4C9696;
  box-shadow: inset 0 -2px 0 #4C9696,
  color: #666666;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover {
  border: none;
  color: #666666;
  -webkit-box-shadow: inset 0 -2px 0 #4C9696;
  box-shadow: inset 0 -2px 0 #4C9696,
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li:hover {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  box-shadow: inset 0 -1px 0 #ddd;;
  -o-transition: all 0.2s;
  transition: all 0.2s;
    font-family: 'Quattrocento', serif;
  font-weight:bolder;
}

/*.nav-tabs>li:hover {
  background-color: #B2DFDB;
  color:#666666;
}*/

#map-canvas {
  width:100%;
  height:450px;
}

/*#local_venues {
        height: 100%;
        margin: 0px;
        padding: 0px
      }*/

#myTab {
  flex: 0 0 auto;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    font-family: 'Quattrocento', serif;
  color: #666666;
  font-weight: bold;
}

/*#book-search-submit-button {

  cursor: crosshair;

}*/


/*#4C9696;*/


/*.form-control.active {
  border-color: #B2DFDB
  box-shadow: inset 0 -1px 0 #B2DFDB;
  background-color: transparent;
}*/


textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {

  box-shadow: inset 0 -2px 0 #4C9696;
}

/*.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:0%;
  background:url("./img/photodune-4524905-book-l.jpg") no-repeat center center fixed;
  margin:200px auto;
  text-align:center;
}*/

/*#search-input {
  background: transparent;
  -webkit-box-shadow: #B2DFDB;
  outline: #B2DFDB auto 0px;
}*/

/*#search-input-autofill {
  background-color:transparent !important;
}*/

input:-webkit-autofill {
  background-color:transparent !important;
  font-family: 'Quattrocento', serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #666666;
}

#radius-dropdown 
#radius-dropdown .open > .activate {
  box-shadow: inset 0 -1px 0 #ddd;
}
{
  background-color: transparent;
  -webkit-box-shadow: #4C9696;
  outline: #4C9696 auto 0px;
}

 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }

.keywordbutton {
  background-color:#4C9696;
  color:#FFFFFF;
  font-weight:bold; 
  text-align: center;

}

.keywordbutton:hover {
  background-color: #B2DFDB;
  color:#000000;

}

.modal-cover {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.book-title {
  text-align: center;
  font-weight: bolder;
  font-family: 'Quattrocento', serif;
}

.book-author {
  text-align: center;
  font-weight: bolder;
  font-family: 'Quattrocento', serif;
}

.book-description {
  font-family: 'Quattrocento', serif;
  font-weight: bold;

}

.book-subtitle {
  text-align: center;
  font-weight: bolder;
  font-family: 'Quattrocento', serif;
}

#results-line {
    font-family: 'Quattrocento', serif;
  margin: 0 0 1em;
  font-weight: bold;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.05);
}

#keyword-line {
  font-family: 'Quattrocento', serif;
  margin: 0 0 1em;
  font-weight: bold;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px)
.col-md-3 {
  width: 25%;
  padding-left: 68px;
}

text[@x=-140] {
  display:none;
}

.form-control::-webkit-input-placeholder { 
  color: #666666; 
  font-family: 'Quattrocento', serif;
  font-style:italic;
}
.form-control:-moz-placeholder { color: #666666; }
.form-control::-moz-placeholder { color: #666666; }
.form-control:-ms-input-placeholder { color: #666666; }