.search-div {
  font-family: Arial;
  color:white;
  height:500px;
}
div#main-container {
  background-color: 'white';
  background-position: center;
  background-image:url("./img/photodune-4524905-book-l.jpg");
  background-size:100%;
  background-position: initial;
}

.the-tabs {
  height:500px;
  /*overflow-y:scroll;*/
}

#books {
  overflow-y:scroll;
}
/*.tab-content {
  overflow-y: scroll;
}*/
.search-div .user_book_query {
  width:40%;
  margin:200px auto;
  text-align:center;
}

.get-books {
  background-color: transparent;
  color:'black';
}

.get-books:hover {
  background-color: #B2DFDB;
}
.navbar {
  background-color: transparent;
}

.book-thumbnail {
  padding: 10px;
  height: 220px;
}

text.mpld3-text, div.mpld3-tooltip {
  font-family:Arial, Helvetica, sans-serif;
}

g.mpld3-xaxis, g.mpld3-yaxis {
display: none; }

svg.mpld3-figure {
margin-left: -200px;}

/*.fade {
opacity: 0;
-webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
   -ms-transition: opacity 2.25s linear;
    -o-transition: opacity 2.25s linear;
       transition: opacity 2.25s linear;
}*/

div#myTabcontent {
  overflow-y: scroll;
  height:600px;

}

#loaderthingy {
    display: none;
    position: fixed;
    z-index: 10;
    background: rgba( 255, 255, 255, .8 )
                url('./img/flipping_book.gif')
                50% 50%
                no-repeat;
}

.results-tabs {
    display:none;
}

.show {
    display:inline block;
}

/*.book-title {
    word-wrap: normal;
}*/

/*img.modal-cover {
    width:50%;
    height:auto;
    float:left;
}*/

#map-canvas {
  width:100%;
  height:480px;
}

/*#local_venues {
        height: 100%;
        margin: 0px;
        padding: 0px
      }*/



/*#book-search-submit-button {

  cursor: crosshair;

}*/



/*#search-input-form {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:30%;
  width:50%;
  margin:auto;
  padding: 10% 0;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;
   background:url("./img/photodune-4524905-book-l.jpg");
}*/

/*#search-input {
  background-color: transparent;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}

#radius-dropdown {
  background-color: transparent;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}*/

