<!doctype html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>wunderLand</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/projectwun.css">
</head>

<body>
<div class="container">
        <!-- Static navbar -->
    <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">wunderLand</a>
            </div>
            
        
    </nav>


    <!-- Show flashed messages -->
    <div class="flash">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    </div>

    {% block content %} put your content here {% endblock %}
</div>




    <hr>
    
        
  
    <div class="modal" id="loaderthingy"></div>
    <div class="footer">
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
        <script src="/static/projectwun.js"></script>
    
   
</div>
</body>

</html>
