{% extends 'base.html' %}
{% block content %}

<!-- Search bar-->

<div class='background-image'>
    <div id='search-input-form'>
		<form class="form-inline" id="user_book_query">
			<fieldset>
			<!-- <legend class="col-sm-4">where are you going?</legend>
 -->
			<div class="form-group">
				<label for="search-input" class="sr-only"></label>
				<div class="col-sm-4" id='search-input-div'>
					<input type="text" class="form-control" id="search-input" name="search-input" placeholder="location">
				</div>
			</div>

			<div class="form-group">
				<div class="angela">
				<!-- <label for="radius">radius</label> -->
				<select class="form-control" name="radius">
					<option value="25">25 mi</option>
					<option value="50">50 mi</option>
					<option value="100">100 mi</option>
					<option value="200">200 mi</option>
					<div class="input-group-addon">miles</div>
				</select>
				</div>	
			</div>

			<div class="form-group">
      			<div class="col-sm-4">
				<button id="book-search-submit-button" class="btn btn-sm btn-success" type="submit">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span> get books 
					<!-- get books &raquo; -->
				</button>
				</div>
			</div>
		</fieldset>
		</form>
  </div>  
</div>


<!-- Number of results -->		
<div id="results-div" class="book-search-results"></div>
		

<!--tester -->
<div id='demo'></div>		


 <!-- Tabs -->

<ul class="nav nav-tabs results-tabs" id='myTab' data-tabs='tabs'>
  <li role='presentation'class='active'><a href="#books" aria-controls='#books' role='tab' data-toggle="tab">book list</a></li>
  <li role='presentation'><a href="#kmeans" aria-controls='#kmeans' role='tab'data-toggle="tab">k-means</a></li>
  <li role='presentation'><a href="#venues" aria-controls='#venues' role='tab'data-toggle="tab">local wunders</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" role='tabpanel' id="books">
  	<div class='row'id="book-result-div"></div>
  </div>

  <div class="tab-pane fade" role='tabpanel' id="kmeans">
    <div id='kmeans_graph'></div>
  </div>

  <div class="tab-pane fade" role='tabpanel' id="venues">
    
    <div id="map-canvas"></div>
    	
    </div>
  </div>
</div>










<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="book-title"></h4></h4>
        <h5 class="modal-title"><h5 class="book-subtitle"></h5></h5>
        <h6 class="modal-title"><h6 class="book-author"></h6></h6>
      </div>
      <div class="modal-body">
      	<div class='book-thumbnailUrl'></div>
      	<p class='book-description'></p>
        <div class="book-keywords"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary tester">Save changes</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}

